# dependencies
node_modules

# coverage
*/**/coverage
*/**/coverageEnv
*/**/coverage.json
*/**/allFiredEvents
*/**/scTopics
*/**/.coverage_*
# lerna
lerna-debug.log

# build artifacts
*/**/dist

# contract build artifacts
# Ignore only for first level to select just the contract build directories
*/*/abi
*/*/build
*/*/artifacts
*/*/cache

# lock files
package-lock.json
yarn.lock

# Misc
.DS_Store
.cache
