# dependencies
node_modules

# coverage
*/**/coverage
*/**/coverageEnv
*/**/coverage.json
*/**/allFiredEvents
*/**/scTopics

# lerna
lerna-debug.log

# truffle build artifacts
# Ignore only for first level to select just the contract build directories
*/*/abi
*/*/build

# lock files
package-lock.json

# Misc
.DS_Store
.cache
